section{
  border-radius: 0.3em;
  background-color: aqua;
}

.passwordControl{
  padding: 0%;
}

.passwordControl > div{
  padding: 0;
}

h2{
  margin-bottom: 0;
}

.control{
  padding-bottom: 0%;
}

.control input{
  width: 50%;
  height: 1.8em;
  font-size: 1.0em;
  border-radius: 0.3em;
  border-width: 0.1em;
}

p{
  margin: 0;
  color: red;
  font-size: 0.5em;
  padding-left: 16px;
}

.passwordControl .control input{
  width: 70%;
}

section div{
  padding: 1em;
}

.button-group{
  text-align: right;
}

.button-group button{
  margin: 1em;
}

section .passwordControl{
  display: flex;
}

.card {
  padding: 2em;
}

label{
  display: block;
}

.read-the-docs {
  color: #888;
}
